<%= form_for @mdm_tugboat, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @mdm_tugboat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mdm_tugboat.errors.count, "error") %> prohibited this mdm_tugboat from being saved:</h2>

      <ul>
      <% @mdm_tugboat.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :code, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :code, :class => "text-field" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => "text-field" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :std_consm_empty, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :std_consm_empty, :class => "text-field" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :std_consm_loaded, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :std_consm_loaded, :class => "text-field" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :std_consm_idle, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :std_consm_idle, :class => "text-field" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :std_speed_empty, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :std_speed_empty, :class => "text-field" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :std_speed_loaded, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :std_speed_loaded, :class => "text-field" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => "text-area" %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to "Cancel", mdm_tugboats_path, :class => 'btn' %>
  </div>
<% end %>
