<div class="page-header">
  <%= link_to 'New Tugboat', new_mdm_tugboat_path, :class => 'btn btn-primary pull-right' %>
  <h1>Listing Tugboat</h1>
</div>

<table class="table table-condensed table-bordered table-hover table-striped">
  <thead>
    <tr style="background-color: #428bca; color: #ffffff;">
      <th>Code</th>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  <% @mdm_tugboats.each do |mdm_tugboat| %>
    <tr>
      <td><%= mdm_tugboat.code %></td>
      <td><%= mdm_tugboat.name %></td>
      <td>
        <%= link_to 'Show', mdm_tugboat, :class => 'btn btn-mini btn-info' %>
        <%= link_to 'Edit', edit_mdm_tugboat_path(mdm_tugboat), :class => 'btn btn-mini btn-warning' %>
        <%= link_to 'Destroy', mdm_tugboat, confirm: 'Are you sure?', method: :delete, :class => 'btn btn-mini btn-danger' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
