<%= form_for @vessel_inventory, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= label_tag nil, 'Tugboat', :class => 'control-label' %>
    <div class="controls">
      <%= text_field_tag nil, @vessel_inventory.mdm_tugboat.name, :class => 'number_field', :disabled => true %>
    </div>
  </div>
  <div class="control-group">
    <%= label_tag nil, 'Location', :class => 'control-label' %>
    <div class="controls">
      <%= text_field_tag nil, @vessel_inventory.location, :class => 'number_field', :disabled => true %>
    </div>
  </div>
  <div class="control-group">
    <%= label_tag nil, 'Parts Name', :class => 'control-label' %>
    <div class="controls">
      <%= text_field_tag nil, @vessel_inventory.parts_name, :class => 'number_field', :disabled => true %>
    </div>
  </div>
  <div class="control-group">
    <%= label_tag nil, 'Interval', :class => 'control-label' %>
    <div class="controls">
      <%= text_field_tag nil, [@vessel_inventory.interval_period, @vessel_inventory.interval_period_unit].join(' '), :class => 'number_field', :disabled => true %>
    </div>
  </div>
  <div class="control-group">
    <%= label_tag nil, 'Position', :class => 'control-label' %>
    <div class="controls">
      <%= text_field_tag nil, @vessel_inventory.position, :class => 'number_field', :disabled => true %>
    </div>
  </div>
<!--   <div class="control-group">
    <%#= f.label :location, :class => 'control-label' %>
    <div class="controls">
      <%#= f.text_field :location, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%#= f.label :parts_name, :class => 'control-label' %>
    <div class="controls">
      <%#= f.text_field :parts_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%#= f.label :interval_period, :class => 'control-label' %>
    <div class="controls">
      <%#= f.text_field :interval_period, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%#= f.label :interval_period_unit, :class => 'control-label' %>
    <div class="controls">
      <%#= f.text_field :interval_period_unit, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%#= f.label :position, :class => 'control-label' %>
    <div class="controls">
      <%#= f.text_field :position, :class => 'text_field' %>
    </div>
  </div> -->
  <div class="control-group">
    <%= f.label :last_change_record_period, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :last_change_record_period, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :last_change_record_date, :class => 'control-label' %>
    <div class="controls">
      <%#= f.datepicker :last_change_record_date %>
      <div class="input-append date">
        <%= f.text_field :last_change_record_date, :class => 'text_field' %><span class="add-on"><i class="icon-th"></i></span>
      </div>
      <%#= f.text_field :last_change_record_date, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :last_change_record_executor, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :last_change_record_executor, :class => 'text_field' %>
    </div>
  </div>

  <% if @vessel_inventory.interval_period_changeable %>
    <div class="control-group">
      <%= f.label :current_hours, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :current_hours, :class => 'number_field' %>
      </div>
    </div>
  <% end %>
<!--  <div class="control-group">
    <%#= f.label :next_change_hours, :class => 'control-label' %>
    <div class="controls">
      <%#= f.text_field :next_change_hours, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%#= f.label :next_change_date, :class => 'control-label' %>
    <div class="controls">
      <%#= f.date_select :next_change_date, :class => 'date_select' %>
    </div>
  </div> -->

  <div class="form-actions">
    <%= f.hidden_field :interval_period_unit %>
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                vessel_inventories_path, :class => 'btn' %>
  </div>
<% end %>
