<%- model_class = VesselInventory -%>
<div class="page-header">
  <%= link_to t('.new', :default => t("helpers.links.new")),
            new_vessel_inventory_path,
            :class => 'btn btm-mini pull-right' %>
  <h3><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h3>
</div>
<ul class="nav nav-pills" id="myTab">
  <li class="active"><a href="#pay_attention" data-toggle="tab"><b>ATTENTION !!</b></a></li>
  <% @tugboats.each do |tugboat| %>
    <li><a href="#<%= tugboat.code.downcase %>" data-toggle="tab"><%= tugboat.code %></a></li>
  <% end %>
</ul>


<div class="tab-content">
    <div class="tab-pane fade in active" id="pay_attention">
      <table class="table table-condensed table-bordered table-hover">
        <thead>
          <tr style="background-color: #0076ea; color: #ffffff;">
            <th rowspan=2>VESSEL NAME</th>
            <th rowspan=2><%= model_class.human_attribute_name(:location).upcase %></th>
            <th rowspan=2><%= model_class.human_attribute_name(:parts_name).upcase %></th>
            <th rowspan=2>CHANGE OUT<br>INTERVAL</th>
            <th rowspan=2><%= model_class.human_attribute_name(:position).upcase %></th>
            <th colspan=3>LAST CHANGE RECORD</th>
            <th rowspan=2><%= model_class.human_attribute_name(:current_hours).upcase %></th>
            <th rowspan=2>NEXT CHANGE<br>HOURS</th>
            <th rowspan=2>NEXT CHANGE<br>DATE</th>
            <th rowspan=2><%=t '.actions', :default => t("helpers.actions") %></th>
          </tr>
          <tr style="background-color: #3ae500; color: #ffffff;">
            <th>PERIOD</th>
            <th>DATE</th>
            <th>BY</th>
          </tr>
        </thead>
        <tbody id="result_holder">
        </tbody>
      </table>
    </div>
  <% @tugboats.each do |tugboat| %>
    <div class="tab-pane fade" id="<%= tugboat.code.downcase %>">
      <table class="table table-condensed table-bordered table-hover">
        <thead>
          <tr style="background-color: #0076ea; color: #ffffff;">
            <th rowspan=2>VESSEL NAME</th>
            <th rowspan=2><%= model_class.human_attribute_name(:location).upcase %></th>
            <th rowspan=2><%= model_class.human_attribute_name(:parts_name).upcase %></th>
            <th rowspan=2>CHANGE OUT<br>INTERVAL</th>
            <th rowspan=2><%= model_class.human_attribute_name(:position).upcase %></th>
            <th colspan=3>LAST CHANGE RECORD</th>
            <th rowspan=2><%= model_class.human_attribute_name(:current_hours).upcase %></th>
            <th rowspan=2>NEXT CHANGE<br>HOURS</th>
            <th rowspan=2>NEXT CHANGE<br>DATE</th>
            <th rowspan=2><%=t '.actions', :default => t("helpers.actions") %></th>
          </tr>
          <tr style="background-color: #3ae500; color: #ffffff;">
            <th>PERIOD</th>
            <th>DATE</th>
            <th>BY</th>
          </tr>
        </thead>
        <tbody>
          <% tugboat.vessel_inventories.order(:id).each do |vessel_inventory| %>
            <tr <%= row_style(vessel_inventory.next_change_date) %>>
              <td><%= vessel_inventory.mdm_tugboat.name if vessel_inventory.mdm_tugboat %></td>
              <td><%= vessel_inventory.location %></td>
              <td><%= vessel_inventory.parts_name %></td>
              <td><%= vessel_inventory.interval_period %> <%= vessel_inventory.interval_period_unit %></td>
              <td><%= vessel_inventory.position %></td>
              <td><%= vessel_inventory.last_change_record_period %></td>
              <td><%= vessel_inventory.last_change_record_date.strftime('%d %b %Y') unless vessel_inventory.last_change_record_date.blank? %></td>
              <td><%= vessel_inventory.last_change_record_executor %></td>
              <td><%= vessel_inventory.current_hours %></td>
              <td><%= vessel_inventory.next_change_hours %></td>
              <td><%= vessel_inventory.next_change_date.strftime('%d %b %Y') unless vessel_inventory.last_change_record_date.blank? %></td>
              <td>
                <%= link_to t('.edit', :default => t("helpers.links.edit")),
                            edit_vessel_inventory_path(vessel_inventory), :class => 'btn btn-mini' %>
                <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                            vessel_inventory_path(vessel_inventory),
                            :method => :delete,
                            :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                            :class => 'btn btn-mini btn-danger' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>

<script>
  $('a[data-toggle="tab"]').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
  });
  $(".vic-danger").each(function(i) {
    $("#result_holder").append("<tr class='vic-danger'>"+$(this).html()+"</tr>");
  });
  $(".vic-alert").each(function(i) {
    $("#result_holder").append("<tr class='vic-alert'>"+$(this).html()+"</tr>");
  });
</script>

<!--     <tr style="background-color: #428bca; color: #ffffff;">
      <th rowspan=2><%#= model_class.human_attribute_name(:id) %></th>
      <th rowspan=2>VESSEL NAME</th>
      <th rowspan=2><%#= model_class.human_attribute_name(:mdm_tugboat_id) %></th>
      <th rowspan=2><%#= model_class.human_attribute_name(:location).upcase %></th>
      <th rowspan=2><%#= model_class.human_attribute_name(:parts_name).upcase %></th>
      <th rowspan=2>CHANGE OUT<br>INTERVAL</th>
      <th rowspan=2><%#= model_class.human_attribute_name(:interval_period) %></th>
      <th rowspan=2><%#= model_class.human_attribute_name(:interval_period_unit) %></th>
      <th rowspan=2><%#= model_class.human_attribute_name(:interval_period_changeable) %></th>
      <th rowspan=2><%#= model_class.human_attribute_name(:position).upcase %></th>
      <th colspan=3>LAST CHANGE RECORD</th>
      <th rowspan=2><%#= model_class.human_attribute_name(:last_change_record_period) %></th>
      <th rowspan=2><%#= model_class.human_attribute_name(:last_change_record_date) %></th>
      <th rowspan=2><%#= model_class.human_attribute_name(:last_change_record_executor) %></th>
      <th rowspan=2><%#= model_class.human_attribute_name(:current_hours).upcase %></th>
      <th rowspan=2><%#= model_class.human_attribute_name(:next_change_hours) %></th>
      <th rowspan=2><%#= model_class.human_attribute_name(:next_change_date) %></th>
      <th rowspan=2>NEXT CHANGE<br>HOURS</th>
      <th rowspan=2>NEXT CHANGE<br>DATE</th>
      <th rowspan=2><%#= model_class.human_attribute_name(:created_at) %></th>
      <th rowspan=2><%#=t '.actions', :default => t("helpers.actions") %></th>
    </tr> -->
