<%- model_class = VesselInventory -%>
<div class="page-header">
  <h3><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h3>
</div>
<%#= render :partial => 'form' %>
<%#= form_tag(:action => "create", :method => "post") do %>
<%= form_for @vessel_inventory, :html => { :class => 'form-horizontal' } do |f| %>
  <% iteration = 0 %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">BOAT SELECTION</h4>
      </div>
      <div class="panel-body">
        <%= select_tag 'boat_id', options_from_collection_for_select(@tugboats, 'id', 'name'), :prompt => 'Please select a boat' %>
      </div>
    </div>
  <% @values.each do |location, parts_names| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title"><%= location %></h4>
      </div>
      <div class="panel-body">
        <table class='table table-condensed'>
          <thead>
            <tr>
              <th>PARTS NAME</th>
              <th>INTERVAL PERIOD</th>
              <th>INTERVAL PERIOD UNIT</th>
              <%= '<th>NUMBER OF PORT/STBD</th>'.html_safe unless location == 'DECK' %>
            </tr>
          </thead>
          <tbody>
            <% parts_names.each do |part| %>
              <tr>
                <td><%= part %></td>
                <td>
                  <%= hidden_field_tag 'vic['+iteration.to_s+'][location]', location %>
                  <%= hidden_field_tag 'vic['+iteration.to_s+'][parts_name]', part %>
                  <%= text_field_tag 'vic['+iteration.to_s+'][interval_period]', '', :class => 'text_field' %>
                </td>
                <td><%= hours_or_months(iteration, location) %></td>
                <td><%= text_field_tag 'amount['+iteration.to_s+']', '', :class => 'text_field', :value => 1 unless location == 'DECK' %></td>
              </tr>
              <% iteration += 1 %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>

  <div class="form-actions">
    <div class="pull-right">
      <%= submit_tag nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  vessel_inventories_path, :class => 'btn' %>
    </div>
  </div>
<% end %>