<%- model_class = VesselInventory -%>
<div class="page-header">
  <h3><%=t '.title', :default => model_class.model_name.human.titleize %></h3>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:mdm_tugboat_id) %>:</strong></dt>
  <dd><%= @vessel_inventory.mdm_tugboat_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:location) %>:</strong></dt>
  <dd><%= @vessel_inventory.location %></dd>
  <dt><strong><%= model_class.human_attribute_name(:parts_name) %>:</strong></dt>
  <dd><%= @vessel_inventory.parts_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:interval_period) %>:</strong></dt>
  <dd><%= @vessel_inventory.interval_period %></dd>
  <dt><strong><%= model_class.human_attribute_name(:interval_period_unit) %>:</strong></dt>
  <dd><%= @vessel_inventory.interval_period_unit %></dd>
  <dt><strong><%= model_class.human_attribute_name(:interval_period_changeable) %>:</strong></dt>
  <dd><%= @vessel_inventory.interval_period_changeable %></dd>
  <dt><strong><%= model_class.human_attribute_name(:position) %>:</strong></dt>
  <dd><%= @vessel_inventory.position %></dd>
  <dt><strong><%= model_class.human_attribute_name(:last_change_record_period) %>:</strong></dt>
  <dd><%= @vessel_inventory.last_change_record_period %></dd>
  <dt><strong><%= model_class.human_attribute_name(:last_change_record_date) %>:</strong></dt>
  <dd><%= @vessel_inventory.last_change_record_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:last_change_record_executor) %>:</strong></dt>
  <dd><%= @vessel_inventory.last_change_record_executor %></dd>
  <dt><strong><%= model_class.human_attribute_name(:current_hours) %>:</strong></dt>
  <dd><%= @vessel_inventory.current_hours %></dd>
  <dt><strong><%= model_class.human_attribute_name(:next_change_hours) %>:</strong></dt>
  <dd><%= @vessel_inventory.next_change_hours %></dd>
  <dt><strong><%= model_class.human_attribute_name(:next_change_date) %>:</strong></dt>
  <dd><%= @vessel_inventory.next_change_date %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              vessel_inventories_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_vessel_inventory_path(@vessel_inventory), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              vessel_inventory_path(@vessel_inventory),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
